MARIADB_ROOT_PASSWORD=root_password

DB_NAME=app_db
DB_USERNAME=app_user
DB_PASSWORD=app_password

LOG_LEVEL_ROOT=INFO

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=CHANGE_ME # required: set a strong unique password
