POSTGRES_DB=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password

MARIADB_DATABASE=app_db
MARIADB_USER=app_user
MARIADB_PASSWORD=app_password
MARIADB_ROOT_PASSWORD=root_password

DB_HOST=postgres
DB_PORT=5432
DB_NAME=app_db
DB_USERNAME=app_user
DB_PASSWORD=app_password

LOG_LEVEL_ROOT=INFO

GF_SECURITY_ADMIN_PASSWORD=admin # change before deploying
